body {
    padding-top: 56px;
    background-image: url("../../public/images/paperbg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 60px;

    background-size: cover;
    background-position: center center;
    background-image: url("../../public/images/bg-navbar.png");
}
.navbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}
.navbar .container {
    z-index: 1;
}
.navbar-brand {
    text-shadow: 2px 2px 3px #e40712;
}
.sidebar {
    height: calc(100vh - 56px);
    position: fixed;
    top: 60px;
    left: 0;
    width: 350px;
    background-color: #f8f9fa;
    padding-top: 20px;
    z-index: 1020;
    overflow-y: auto;
}
.ability-scores {
    text-align: center;
    text-decoration: none;
    color: #000;
    margin: auto;
}
.ability-scores .col-4 {
    display: flex;
    flex-direction: column;
}
.ability-scores.editor {
    max-width: 333px;
}
.ability-scores .col-4 {
    background-size: contain;

    background-image: url("../../public/images/ability-frame.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    max-width: 110px;
}
.ability-scores.editor .col-4 {
    height: 120px;
}
.accordion .accordion-button {
    background-color: #31404d;
}
.accordion.spells .accordion-header {
    background-color: #115c39;
}
.accordion.spells .accordion-button {
    background-color: #115c39;
}
.accordion.spells .accordion-button::after {
    display: none;
}
.popover {
    max-width: 500px;
    --bs-popover-header-bg: #115c39;
    --bs-popover-header-color: #fff;
    --bs-popover-border-color: #6c757d;
}

.accordion-button:not(.collapsed) {
    background-color: #182025;
}
.accordion-button:focus {
    box-shadow: none;
}
.accordion-item {
    border: 0;
}
.accordion-item:not(:last-child) {
    border-bottom: 1px solid transparent;
}
.about-gear {
    z-index: 1;
}
.content {
    padding: 20px;
    transition: margin-left 0.3s;
    height: calc(100vh - 57px);
    max-width: 800px;
}
.contains-image {
    height: calc(100vh - 250px);
}
.character_image {
    max-height: 100%;
    max-width: 100%;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3))
    drop-shadow(20px 15px 5px rgba(0, 0, 0, 0.2));
    z-index: 1;
}
img.icon-image {
    height: 100px;
    width: 100px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
    object-fit: contain;
}
.equipment-btn {
    position: absolute;
    left: 35px;
    bottom: 40px;
    height: 40px;
}
.turns {
    height: 80px;
}
.turns .row {
    overflow-x: auto;
}
.turns .col {
    border-bottom: 1px solid green;
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 96px;
}
.initiative-circle {
    display: flex;
    border-radius: 50%!important;
    background-color: #fff;
    float: left;
    width: 26px;
    height: 26px;
    justify-content: center;
    position: absolute;
    left: -2px;
    border: 1px solid green;
}

.accordion .initiative-circle {
    position: absolute;
    left: 80px;
    top: 23px;
}

.turns .col .charlist-hp {
    position: absolute;
    width: 82%;
    top: 4px;
}
.turns .col img {
    overflow: hidden;
    max-height: 54px;
    object-fit: cover;
    object-position: center top;
    background-color: #ffffff66;
}
@media (min-width: 993px) {
    .content-home {
        margin-left: 350px;
    }
    #sidebarToggle {
        display: none;
    }
}
#closeSidebar {
    display: none;
}
@media (max-width: 992px) {
    .sidebar {
        display: none;
    }
    .content {
        margin-left: 0;
    }
    #closeSidebar {
        display: block;
    }
}
.armor-initiative-speed {
    background-image: url("../../public/images/blocks.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    max-width: 292px;
}
.armor-initiative-speed input {
    width: 50px;
    text-align: center;
    font-size: 0.8em;
}
.armor-initiative-speed input:first-child {
    width: 45px;
}
.class-selector {
    padding: 2px;
}
.resizable {
    resize: vertical !important;
    overflow: auto !important;
    min-height: 100px !important;
}

.input-spells {
    font-size: 1.3em;
}

.suggestion .card {
    cursor: pointer;
}

.custom-tooltip {
    --bs-tooltip-bg: #31404d;
}

.tooltip-div {
    display: inline
}

#spellsModal .modal-content {
    background-color: transparent;
    min-height: 200px;
}
.spell-modal-body {
    background-image: url("../../public/images/paperbg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
}

.spell-body h1 {
    text-shadow: 2px 1px 2px #fff;
    margin-bottom: 0;
}

.spell-body .subtitle {
    margin-bottom: 14px;
}

.mana-slots {
    text-align: left;
}

.mana-slots input {
    width: 50px;
    text-align: center;
}